<html lang="ko">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,maximum-scale=1.0" />
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="appable.js"></script>
  <script src="player.js"></script>
</head>
<body>
  <h1>kollus Mobile 전용플레이어 연동 Sample</h1>
  <p>
  <h3>Video G/W 호출</h3>
  <div id="Div3" style="border:solid;">
    <ol>
      <li>
        <a href="http://v.kr.kollus.com/s?key=<%= media_token1 %>">Sample1</a>
      </li>
      <li>
        <a href="http://v.kr.kollus.com/s?key=<%= media_token2 %>">Sample2</a>
      </li>
    </ol>
  </div>
  </p>

  <p>
  <h3>Video G/W 다운로드</h3>
  <div id="Div2" style="border:solid;">
    <ol>
      <li>
        <a href="http://v.kr.kollus.com/s?key=<%= media_token1 %>&download&title=asdfasdf">Sample1</a>
      </li>
      <li>
        <a href="http://v.kr.kollus.com/s?key=<%= media_token2 %>&download">Sample2</a>
      </li>
    </ol>
  </div>
  </p>

  <p>
  <h3>모바일 전용플레이어 스트리밍 호출</h3>
  <div id="Div4" style="border:solid;">
    <ol>
      <li>
        <a href="javascript:void(0);" onclick="call_player('path', '<%= media_token1 %>');">Sample1</a>
      </li>
      <li>
        <a href="javascript:void(0);" onclick="call_player('path', '<%= media_token2 %>');">Sample2</a>
      </li>
    </ol>
  </div>
  </p>

  <p>
  <h3>모바일 전용플레이어 다운로드 호출</h3>
  <form name="media_form">
    <div id="Div1" style="border:solid;">
      <a href="javascript:void(0);" onclick="start_downloads();"><font color=red>선택 다운로드</font></a><br />
      <ol>
        <li>
          <input type="checkbox" name="chk_info" value="http://v.kr.kollus.com/si?key=<%= media_token1 %>" />
          <a href="javascript:void(0);" onclick="call_player('download', '<%= media_token1 %>');">Sample1</a>
        </li>
        <li>
          <input type="checkbox" name="chk_info" value="http://v.kr.kollus.com/si?key=<%= media_token2 %>" />
          <a href="javascript:void(0);" onclick="call_player('download', '<%= media_token2 %>');">Sample2</a>
        </li>
      </ol>
    </div>
  </form>
  </p>
</body>
</html>
